let mapleader = " "

set number relativenumber

set ignorecase
set smartcase

" Enable ideajoin mode
set ideajoin

" Enable message on the status line to show current mode
set showmode

" Keep the mode that was enabled before starting a refactoring
set idearefactormode=keep

" Disable vim mode in dialogs
set ideavimsupport=

" PLUGINS SECTION BEGIN

" Edit functions arguments edition. Commands: Additional text objects: aa, ia
set argtextobj

" Enable surround plugin emulation
set surround

" Enable commentary plugin emulation
set commentary

" Enable replace with register emulation. Commands: gr, grr
set ReplaceWithRegister

" Highlight yank selection action
set highlightedyank

" Vim exchange emulation. Commands: cx, cxx, X, cxc
set exchange

" PLUGINS SECTION END

set langmap=ФИСВУАПРШОЛДЬТЩЗЙКЫЕГМЦЧНЯЖ;ABCDEFGHIJKLMNOPQRSTUVWXYZ:,фисвуапршолдьтщзйкыегмцчня;abcdefghijklmnopqrstuvwxyz

sethandler <C-A> a:vim
sethandler <C-B> a:vim
sethandler <C-D> a:ide
sethandler <C-E> a:vim
sethandler <C-F> a:vim
sethandler <C-G> a:ide
sethandler <C-H> a:ide
sethandler <C-I> a:ide
sethandler <C-J> a:vim
sethandler <C-L> a:vim
sethandler <C-M> a:vim
sethandler <C-N> a:ide
sethandler <C-O> a:ide
sethandler <C-P> a:ide
sethandler <C-R> a:vim
sethandler <C-S> a:vim
sethandler <C-T> a:ide
sethandler <C-V> a:vim

