[user]
	name = Alexey Korolev
	email = alphatroya@gmail.com
[column]
        ui = auto
[branch]
        sort = -committerdate
[core]
	excludesfile = ~/.gitignore
	autocrlf = input
[merge]
	tool = vim_mergetool
[mergetool "vim_mergetool"]
	cmd = nvim "$MERGED"
[push]
	autoSetupRemote = true
	followTags = true
[rebase]
	autosquash = true
[mergetool]
	keepBackup = false
[fetch]
	prune = true
[help]
	autoCorrect = prompt
[status]
	short = true
[rerere]
	enabled = true
	autoupdate = true
[pull]
	rebase = true
	ff = only
[commit]
	verbose = true
[sendemail]
	smtpserver = smtp.gmail.com
	smtpuser = alphatroya@gmail.com
	smtpencryption = tls
	smtpserverport = 587
	annotate = yes
