{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --file=/dev/stdin <<EOF
brew "aria2"
brew "atuin"
brew "bat"
brew "chezmoi"
brew "curl"
brew "fd"
brew "fish"
brew "git"
brew "mise"
brew "ripgrep"
brew "ruby-build"
brew "starship"
brew "tree-sitter"
brew "tree"
brew "xcodesorg/made/xcodes"
brew "zoxide"
cask "keepassxc"
EOF
{{ end -}}
