{
    "OPENAI_API_KEY": "{{ (keepassxc "openai").Password }}",
    "ARTIFACTORY_USER": "{{ (keepassxc "artifactory").UserName }}",
    "ARTIFACTORY_PASS": "{{ (keepassxc "artifactory").Password }}"
}
