{
    "REDMINE_HOST": "{{ (keepassxc "redmine").URL }}",
    "REDMINE_API_KEY": "{{ (keepassxc "redmine").Password }}",
    "OPENAI_API_KEY": "{{ (keepassxc "openai").Password }}",
    "KNOWLEDGE_BASE": "/Users/alphatroya/Sync/Logseq/"
}
