[user]
name = "Alexey Korolev"
email = "alphatroya@gmail.com"

[ui]
diff-formatter = ["difft", "--color=always", "$left", "$right"]
default-command = "log"

[fix.tools.swiftformat]
command = ["swiftformat", "stdin", "--output", "stdout", "--stdinpath", "$path"]
patterns = ["glob:'**/*.swift'"]

[git]
write-change-id-header = true
