[user]
name = "Alexey Korolev"
email = "{{ (keepassxc "primary email").UserName }}"

[[--scope]]
--when.repositories = ["~/src/gitlab.mvk.com"]
[--scope.user]
email = "{{ (keepassxc "vk email").UserName }}"

[ui]
diff.tool = ["difft", "--color=always", "$left", "$right"]
default-command = "log"

